#tixBooking {
    background-color: rgb(23, 20, 31);
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

#packageSelector-cont {
    text-align: center;
    margin: 25px auto;
    color: #444451;
}

#seatLegend-cont {
    width: 66%;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: rgba(60,60,60,0.2);
    color:white;
}

.legSeat {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 15px;
    align-items: center;
}

.titleWrap {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.titleWrap h3 {
    margin: 0;
}

.legSeat p {
    margin: 0;
}

#tixSelector-cont {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.tixSel {
    height: 250px;
}

.tixSel.narrow {
    width: 27%;
    margin: 25px 0;
    display: flex;
    justify-content: space-evenly;
}

.tixSel.wide {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row.hor {
    justify-content: center;
}

.row.vert {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conseat { 
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 2px;
    border-radius: 10px;
}

.conseat.selected {
    background-color: #E6C62f;
}

.conseat.occupied {
    background-color: white;
}

.conseat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.conseat.midVert {
    height: 30px;
    margin: 4px auto;
}

.conseat.largeVert {
    height: 50px;
    width: 20px;
    margin: 6px auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.row.hor .conseat:nth-of-type(4) {
    margin-right: 18px;
}

.row.hor .conseat:nth-of-type(8) {
    margin-right: 18px;
}

.row.hor .conseat:nth-last-of-type(4) {
    margin-left: 18px;
}

.stage {
    top: 10%;
    position: relative;
    width: 70%;
    height: 80%;
    background-color: brown;
    border: 1px solid black;
}

#totalDisp-cont {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}



