//Imports
@import './snippets/domElement';
@import './snippets/domDocument';
@import './snippets/buttons';
@import './snippets/app';



//Universal Styling - Primary Elements
html {
    font-size: 20px;
}

body {
    width: 100vw;
    height: 100%;
    background-color: rgb(23, 20, 31);
}

header {
    

}

.headerText {
    text-align: center;
}

.modulesDisplay {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 25px auto;
}

.moduleSideBySide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 25px auto;
}

.moduleCategoryCont {
    text-align: center;
    width: 100%;
}

.moduleCont {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.thinModuleCont {
    width: 33%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.moduleInfo {
    padding: 1rem;
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

.thinModuleInfo {
    padding: 1rem;
    width: 80%;
    min-height: 260px;
    text-align: center;
    margin: 0 auto;
}

.moduleContent {
    border: 1px solid black;
    width: 60%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.thinModuleContent {
    border: 1px solid black;
    width: 90%;
    min-height: 300px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.mainWithSide {
    display: flex;
    flex-direction: row;
}

.sideBar{
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.mainContent{
    width: 80%;
    text-align: center;
}

.rowBar {

}

.columnBar {

}

#dblObjDisp {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 40%;
    justify-content: space-evenly;
}

.dblObj {
    padding: 20px 40px;
    margin: 0px 20px;
    text-align: center;
    border: 1px solid black;
}








