#applyClassWithButtonSect {
    width: 100%;
    padding: 1em;
    border: 1px solid black;
} 

#applyClassWithButtonCont {
    width: 80%;
    @include autoMargins();
}

#applyClassWithButtonHeaderCont {
    width: 50%;
    @include autoMargins();
    text-align: center;
}

#applyClassWithButtonImageCont {
    width: 40%;
    height: auto;
    @include autoMargins();
    margin-top: 2em;
    margin-bottom: 2em;
}

#classedImage {
    width: 50%;
    height: auto;
    display: block;
    @include autoMargins();
}

.activeImage {
    border: 15px solid cyan;
}

#applyClassWithButtonButtonCont {
    width: 50%;
    height: auto;
    @include autoMargins();
    text-align: center;
}

#applyImageClassButton {
    height: 20px;
    width: 66%;
}