body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

#title {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

#tracker {
  width: 25%;
  margin: 0 auto;
}

#bal-cont {
  height: 100px;
  position: relative;
  left: 18%;
}

#balText-cont {
  position: absolute;
  bottom: 0;
}

#balText-cont h3 {
  padding: 0 0 10px 0;
  margin: 0 auto;
}

#balText-cont p {
  margin: 0 auto;
}

#incExp-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.incExp-child {
  padding: .5rem 1rem 1rem 1rem;
  text-align: center;
}

#historyTitle-cont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px auto;
}

#historyTitle-cont h3 {
  margin: 0;
}

.histItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  border: 1px solid black;
  margin: 5px auto;
}

.histItem.pos {
  border-right: 5px solid green;
}

.histItem.neg {
  border-right: 5px solid red;
}

.histItemTitle {
  padding-left: 3%;
}

.histItemType-cont {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  right: 25%;
}

.historyItemType-text {
  padding-right: 4px;
}

.historyItemImg {
  height: 25px;
  width: 25px;
  position: relative;
  top: 9px;
  padding: 2px;
}

.histItemValue {
  position: absolute;
  right: 3%;
}

#transaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 7px 0;
}

.formItem.half {
  width: 45%;
}

#fullHist {
  position: absolute;
  top: 5%;
  left: 35%;
  width: 30vw;
  height: 90vh;
  max-height: 90vh;
  background-color: chocolate;
  border-radius: 25px;
}

#closeFullHist {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 3%;
  top: 3%;
  cursor: pointer;
}

#fullHist-cont {
  position: relative;
  top: 7.5%;
  left: 10%;
  width: 80%;
  height: 85%;
  max-height: 85%;
  overflow-y: auto;
  border: 1px solid black;
}

#delButt-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 60%;
  left: 20%;
  height: 40px;
  bottom: 1.5%;
}

#delEvents {
  position: absolute;
  width: 25%;
  padding: .25em 1em;
}

#conDelEv {
  padding: .25em 1em;
}

.hidden {
  visibility: hidden;
}

.delReady {
  background-color: rgba(255, 0, 0, 0.3);
}
/*# sourceMappingURL=style.css.map */