.darkSquare {
  width: 90%;
  height: 85%;
  padding: 15px 0px;
  vertical-align: middle;
  line-height: 0px;
  border: 2px solid black;
  background-color: #757575;
  color: black;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.darkSquare:hover {
  background-color: #585959;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.lightSquare {
  width: 90%;
  height: 85%;
  padding: 15px 0px;
  vertical-align: middle;
  line-height: 0px;
  border: 2px solid white;
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lightSquare:hover {
  background-color: #d9d9d9;
  border: 2px solid #d9d9d9;
  -webkit-transition: background-color 200ms linear, border 200ms linear;
  transition: background-color 200ms linear, border 200ms linear;
}

.greenSquare {
  width: 90%;
  height: 85%;
  padding: 15px 0px;
  vertical-align: middle;
  line-height: 0px;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.greenSquare:hover {
  background-color: #295c29;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.redSquare {
  width: 90%;
  height: 85%;
  padding: 15px 0px;
  vertical-align: middle;
  line-height: 0px;
  background-color: #f44336;
  border: none;
  color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.redSquare:hover {
  background-color: #852121;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.blueSquare {
  width: 90%;
  height: 85%;
  padding: 15px 0px;
  vertical-align: middle;
  line-height: 0px;
  background-color: #008CBA;
  border: none;
  color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blueSquare:hover {
  background-color: #336491;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.lightSquareBord {
  width: 90%;
  height: 85%;
  padding: 15px 0px;
  vertical-align: middle;
  line-height: 0px;
  border: 2px solid black;
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lightSquareBord:hover {
  background-color: #d9d9d9;
  -webkit-transition: background-color 200ms linear, border 200ms linear;
  transition: background-color 200ms linear, border 200ms linear;
}

.blackSquare {
  width: 90%;
  height: 85%;
  padding: 15px 0px;
  vertical-align: middle;
  line-height: 0px;
  background-color: black;
  border: none;
  color: white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blackSquare:hover {
  background-color: red;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.fixedSingle {
  height: 100vh;
  width: 100vw;
  background-image: url("");
  display: block;
}

#mainForm {
  width: 350px;
  margin: 200px auto;
  background-color: white;
  padding: 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Open Sans', sans-serif;
}

.form-item {
  margin: 20px auto;
}

#submitCont {
  margin: 30px auto;
  text-align: center;
}

.formInput {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
}

#formTitle {
  text-align: center;
}

.formError input {
  border: 3px solid red;
}

.formSuccess input {
  border: 3px solid green;
}

#formBody {
  width: 25%;
  min-height: 400px;
  background-color: white;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.formQuery {
  padding: 10px 20px;
}

#submitArea {
  text-align: center;
}

.textInput {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 15px auto;
}

.formQuery h3 {
  margin: 0 auto;
}

#formTitle {
  text-align: center;
}

.formSuccess {
  border: 3px solid green;
}

.formFailure {
  border: 3px solid red;
}

#underForm {
  width: 25%;
  height: 150px;
  margin: 25px auto;
  text-align: center;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

#underForm h3 {
  position: relative;
  top: 40%;
}

#bookSeats {
  background-color: #242333;
  color: white;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

#selector-container {
  margin: 20px 0;
}

#selector-container select {
  background-color: white;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

#seatSelector-container {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: white;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.legend .seat:not(.occupied):hover {
  cursor: default;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.legend {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.legend li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
}

.legend li small {
  margin-left: 2px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.screen {
  background-color: white;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  -webkit-transform: rotateX(-45deg);
          transform: rotateX(-45deg);
  -webkit-box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
          box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}

#tixBooking {
  background-color: #17141f;
  width: 100%;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#packageSelector-cont {
  text-align: center;
  margin: 25px auto;
  color: #444451;
}

#seatLegend-cont {
  width: 66%;
  margin: 0 auto;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: rgba(60, 60, 60, 0.2);
  color: white;
}

.legSeat {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titleWrap {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.titleWrap h3 {
  margin: 0;
}

.legSeat p {
  margin: 0;
}

#tixSelector-cont {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tixSel {
  height: 250px;
}

.tixSel.narrow {
  width: 27%;
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tixSel.wide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row.hor {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row.vert {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conseat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 2px;
  border-radius: 10px;
}

.conseat.selected {
  background-color: #E6C62f;
}

.conseat.occupied {
  background-color: white;
}

.conseat:not(.occupied):hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.conseat.midVert {
  height: 30px;
  margin: 4px auto;
}

.conseat.largeVert {
  height: 50px;
  width: 20px;
  margin: 6px auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.row.hor .conseat:nth-of-type(4) {
  margin-right: 18px;
}

.row.hor .conseat:nth-of-type(8) {
  margin-right: 18px;
}

.row.hor .conseat:nth-last-of-type(4) {
  margin-left: 18px;
}

.stage {
  top: 10%;
  position: relative;
  width: 70%;
  height: 80%;
  background-color: brown;
  border: 1px solid black;
}

#totalDisp-cont {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#transaction-cont {
  width: 30%;
  height: auto;
  background-color: white;
  position: absolute;
  top: 15%;
  left: 35%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.formIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
}

.formIn h3 {
  margin: 8px 0;
}

#action-cont {
  width: 33%;
  margin: 0 auto;
  text-align: center;
}

#calculator-sect {
  width: 50%;
  margin: 0 auto;
  padding: 6rem 3rem;
  margin: 10px auto;
}

#calcContainer {
  text-align: center;
}

#mainImg {
  height: 250px;
  width: auto;
}

#convDisp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.currDispBox {
  padding: 1rem;
  margin: 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#midBox {
  padding: 1rem;
  padding: 0 35px;
}

#swapButton {
  vertical-align: middle;
  position: relative;
  top: 45%;
  background-color: #22a522;
  padding: 1rem;
  border-radius: 15px;
  border-color: transparent;
  color: white;
}

#swapButton:hover {
  background-color: darkgreen;
  cursor: pointer;
}

.currSel {
  margin: 15px auto;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.currInp {
  border: 0px transparent;
  text-align: center;
  padding: 1rem;
  border-bottom: 2px solid black;
  font-size: 1.5rem;
  cursor: pointer;
}

body {
  width: 100%;
  height: 100%;
  background-color: white;
}
/*# sourceMappingURL=style.css.map */